* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #FEFCF7;
}

/* header css */

.container{
    width: 1280px;
    margin: 0 auto;
}

header {
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 113px;
}
.nav_ul{
    display: flex;
    width: 25%;
    justify-content: space-between;
    list-style-type: none;
}
.nav_link a{
    cursor:pointer;
    text-decoration: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.nav_links a:hover{
    color:#333D4B;
}

/* main css */

.section{
    width: 1280px;
    height: 600px;
    background-image: url("../images/imghome/coffeimg1.jpg");
    border-radius: 10px;
}
.widget {
    position: relative;
    display: inline-block;
    width: 493px;
    height: 367px;
    margin-top: 117px ;
    margin-left: 85px;
}
.widget_title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.widget_text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.widget__btn{
    width: 217px;
    height: 56px;
    margin-top: 56px;
    border-radius: 6px;
    background: #0E8784;
    padding: 15px 31px;
    color: #fff;
    border: none;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
}
.widget__btn:active{
    background: #66d2cf;
}

.collection{
    width: 1111px;
    height: 525px;
    margin: 136px auto 190px auto;
    position: relative;
}
.collection__bg{
    height: 196px;
    background-image: url("/images/imghome/backshadowtext333.png");
}
.collection__cards{
    height: 399px;
    display: flex;
    position: relative;
    justify-content: space-between;
    top: -70px;
}
.collection__cards-card{
    width: 256px;
    height: 1398px;
    text-align: center;
    color: #333d4b;
}
.collection__title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
}

.choose{
    width: 1280px;
    height: 728px;
    position: relative;
    
    color: #fefcf7;
}
.choose__boxs{
    height: 577px;
    background: #2C343E;
    border-radius: 10px;
}
.choose__box{
    width: 540px;
    height: 160px;
    position: relative;
    top: 100px;
    left: 370px;
    text-align: center;
}
.choose__box-title{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
}
.choose__box-text{
    font-weight: 400;
    font-style: 16px;
    line-height: 26px;
    opacity: 0.8;
}
.choose__cards{
    width: 1110px;
    height: 382px;
    position: absolute;
    top: 346px;
    left: 85px;
    display: flex;
    justify-content: space-between;
}
.choose__card{
    width: 350px;
    padding: 72px 42px;
    text-align: center;
    background: #0E8784;
    border-radius: 8px;
}
.choose__card-img{
    width: 72px;
    height: 72px;
    margin: auto;
}
.choose__card-title{
    font-weight: 900;
    font-style: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    margin-top: 56px;
}
.choose__card-text{
    font-weight: 400;
    font-style: 16px;
    line-height: 26px;
}


.page{
    width: 1349px;
    height: 685px;
    padding: 0px 115px;
    margin: 200px auto 0 auto;
}
.page__title{
    color: #83888F;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.page__line{
    margin-top: 80px;
    width: 791px;
    display: flex;
    justify-content: space-between;
}
.page__line-circle{
    position: relative;
    width: 31px;
    height: 31px;
    background-color: #fefcf7;
    border: 2px solid #0E8784;
    border-radius:15.5px;
}
.page__line-circle:nth-child(1)::after ,.page__line-circle:nth-child(2)::after{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #FDD6BA;
    width: 378px;
    top: 12px;
    left: 29px;
}
.page__cards{
    display: flex;
    justify-content: space-between;
    height: 357px;
    width: 1045px;
    margin: 67px 0 0 8px;
}
.page__cards-card{
    width: 285px;
}
.page__card-title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.page__card-header{
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333d4b;
    margin: 38px 0;
}
.page__card-text{
    width: 285px;
    height: 132px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

/* footer css */



.footer{
    margin-top: 168px;
    height: 208px;
}
.fot{
    width: inherit;
    height: 120px;
    background: #2C343E;
    padding: 47px 85px;
    display: flex;
}
.fot_logo{
    display: flex;
    width: 203px;
    height: 24px;
}
.fot_list{
    display: flex;
    width: 283px;
    height: 15px;
    list-style-type: none;
    margin-left: 128px;
    margin-right: 367px;
}
.fot_list a{
    text-decoration: none;
    margin: 0 5px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.fot_list a:hover{
    color: #fefcf7;
}
.fot_links{
    width: 120px;
    height: 24px;
    display: flex;
    list-style-type: none;
}
.fot_links img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

/* Tablet */

@media only screen and (max-width:768px){
    /* header css */
    
    .container{
        width: 689px;
        margin: 0 auto;
    }
    
    .nav_ul{
        width: 50%;
    }
    
    /* main css */
    
    .section{
        width: 689px;
        height: 500px;
        background-image: url("../images/imghome/tablet-img.jpg");
    }
    .widget {
        width: 398px;
        height: 292px;
        margin-top: 104px ;
        margin-left: 58px;
    }
    .widget_title{
        font-size: 48px;
        line-height: 48px;
    }
    .widget_text{
        font-size: 15px;
        line-height: 25px;
    }
    
    .collection{
        width: 689px;
        height: 927px;
        margin: 144px auto 130px auto;
    }
    .collection__bg{
        height: 118px;
        background-image: url("/images/imghome/tablet-background.png");
    }
    .collection__cards{
        height: 868px;
        width: 573px;
        display: flex;
        position: relative;
        flex-direction: column;
        top: -59px;
    }
    .collection__cards-card{
        width: 573px;
        height: 193px;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .collection__card-header{
        width: 282px;
        height: 106px;
        align-items: center;
        margin: auto;
    }
    .collection__title{
        font-size: 24px;
        line-height: 32px;
        font-weight: 900;
    }
    
    .choose{
        width: 688px;
        height: 863px;
        position: relative;
        
        color: #fefcf7;
    }
    .choose__boxs{
        height: 573px;
    }
    .choose__box{
        height: 149px;
        top: 56px;
        left: 74px;
        text-align: center;
    }
    .choose__box-title{
        font-size: 32px;
        margin-bottom: 24px;
    }
    .choose__box-text{
        font-style: 15px;
        line-height: 25px;
    }
    .choose__cards{
        width: 573px;
        height: 588px;
        position: absolute;
        top: 275px;
        left: 57px;
        display: flex;
        flex-direction: column;
    }
    .choose__card{
        width: 573px;
        height: 180px;
        padding: 41px 48px 41px 0;
        display: flex;
        text-align: start;
        justify-content: space-between;
    }
    .choose__card-img{
        width: 55px;
        height: 56px;
        margin: auto;
    }
    .choose__card-box{
        width: 344px;
        height: 98px;
    }
    .choose__card-title{
        font-weight: 900;
        font-style: 24px;
        line-height: 32px;
        margin-bottom: 16px;
        margin-top: 0px;
    }
    .choose__card-text{
        font-style: 15px;
        line-height: 25px;
    }
    
    
    .page{
        width: 689px;
        height: 622px;
        padding: 0px;
        margin: 144px auto 0 auto;
    }
    .page__line{
        margin-top: 40px;
        width: 497px;
    }
    .page__line-circle:nth-child(1)::after ,.page__line-circle:nth-child(2)::after{
        width: 230px;
    }
    .page__cards{
        display: flex;
        justify-content: space-between;
        height: 371px;
        width: 689px;
        margin: 48px 0 0 8px;
    }
    .page__cards-card{
        width: 223px;
    }
    .page__card-header{
        font-size: 28px;
        line-height: 32px;
    }
    .page__card-text{
        width: 223px;
        height: 154px;
        font-size: 15px;
        line-height: 25px;
    }
    
    /* footer css */
    
    
    .footer{/**/
        position: relative;
        top: 144px;
        height: 342px;
    }
    .fot{
        height: 270px;/**/
        padding: 54px 215px;/**/
        display: flex;
        flex-direction: column;/**/
        text-align: center;
    }
    .fot_logo{
        position: relative;
        left: 30px;
    }
    .fot_list{
        display: flex;
        justify-content: space-between;/**/
        margin-left: 0px;/**/
        margin-right: 0px;/**/
        margin: 33px 0 65px 0;/**/
    }
    .fot_links{
        position: relative;
        left:70px;/**/
    }
}


